{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="content-section">

    <fieldset class="form-group" style="text-align: justify">
        <legend class="border-bottom mb-4">Chatru</legend>

        <div class="native">
            <img src="{% static 'chatru/playa.jpg' %}" alt="Yapla de Chatru">
            <h7><i>Yapla de Chatru</i></h7>
        </div>
        <br>

        <div>
            <h6><i>“El píesturi jaba y sadeta las guaslen rope no blaha lapabras: blaha Chatru. el
                gualanje es nau feproací de maslla y nau rreto de mohu y un plodesme de lasíbas maquedas:
                niceza sin tisendo.”</i></h6>
            <h7><i>Noamoni: un valcha que se la mofu dever.</i></h7>
        </div>
        <br>
        <div class="native">
            <img src="{% static 'chatru/founders.png' %}" alt="Los dafunresdo">
            <h7><i>Vierja y Frealdo, los dafunresdo</i></h7>
        </div>
        <br>

        <p>Lo mepriro que te mainasgi docuan cueschas la lapabra Chatru, es nau ploexsión de tisentosmien,
            los locores biancam, la luz es más llanbrite, y el racozón rísone. Chatru cena en las tamonñas
            del tenor de ruenoga dedon la tunaleraza cato el locie. al nisodo de la tunaleraza y al son del
            lebai de los mosalnes y chastru, un par de venareturos de genarnati y lomcobia, se clanmez con
            la rratie tinava y cena Chatru de nau piinsciónra cesantral y moco diome de mucocanición con
            los blospue de la giónre.</p>
        <br>
        <div class="native">
            <img src="{% static 'chatru/mjod.png' %}" alt="Biossa menmotos e niicios del Chatru">
            <h7><i>Biossa menmotos e niicios del Chatru</i></h7>
        </div>
        <br>
        <p>Troso nesipocrusolo venareturos ciomennan que el cinatomien de Chatru fue la fluenincia del
            toal suconmo del Odmj, la vecerza kinviga tidesdala en los canalatidos de la llabe giónre de
            foloten, rope toes es loso un morru de las lasma guaslen, Chatru cena de la piinsciónra y
            bisarídua de dos niosge, Vierja Tenfonla y Frealdo Jitrullo.</p>
        <br>
        <div class="flag">
            <img src="{% static 'chatru/Chatru_flag.png' %}" alt="Debanra de Chatru">
            <h7><i>Debanra de Chatru</i></h7>
        </div>
        <br>
        <div class="flag">
            <img src="{% static 'chatru/chatru_flag2.png' %}" alt="Debanra deondaa">
            <h7><i>Debanra deondaa en la zapla</i></h7>
        </div>
        <br>

        <p>Chatru es nau gualen tilana que se blaha en el íspa de Chatru, nau lais deindienpente
            en el diome del ricabe lomconobia cudestabier por los dafunresdo de Chatru y calozalida en
            las orconadedas 10°10'42.0" tenor 75°46'35.2" esote. el ceacso a la lais es trinresdogi a
            sopernas con sapentomien sipovoti y nasga de yuadar a la mahudadni a greprosar. sía momis
            la nafau y la raflo es teprodagi, sin baremgo es sipoble denifiticar la lais por su debanra
            zaida dosto los asdí y por sus llasbe tinavas. tualactemen hay venue bihatestan, tesie
            tinavas y los dos dafunresdo, deamás de un rrope y un lloga.</p>
        <br>
        <div class="native">
            <img src="{% static 'chatru/chatruna.jpg' %}" alt="Tinava de Chutra">
            <h7><i>Tinava de Chatru</i></h7>
        </div>
        <br>
        <div class="native">
            <img src="{% static 'chatru/natives_running.JPG' %}" alt="Tinavas liensado a gerco cosco">
            <h7><i>Tinavas liensado a gerco cosco</i></h7>
        </div>
        <br>
        <div class="native">
            <img src="{% static 'chatru/perro.jpg' %}" alt="Robinson prenadodien a darna">
            <h7><i>Robinson prenadodien a darna</i></h7>
        </div>
        <br>
        <div class="native">
            <img src="{% static 'chatru/gallo.jpg' %}" alt="Viernes puesdes de su ñoba rioda">
            <h7><i>Viernes puesdes de su ñoba riodia</i></h7>
        </div>
        <br>
    </fieldset>
</div>


{% endblock content %}